.ProfileInfoSection {
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileInfoL {
    width: 35%;
}

.profileInfoR {
    width: 65%;
    margin-left: 30px;
}

.bluryProfileBox {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    border-radius: 20px;
    border: 4px solid var(--main-red-hover);
}

.bluryProfileBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/BackgroundImages/PlainBG-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px) brightness(70%);
    z-index: -1;
}

.avatar {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 400px;
    margin-left: 30px;
    border: 5px solid var(--main-red-hover);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bluryProfileBox h2 {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 20px;
}

.profileInfoSmall {
    text-align: center;
    padding: 20px;
}

.profileInfoSmall h4 {
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
}

.smallBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallBar h2 {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.smallBar h2:hover, .activeSmallBar {
    color: var(--main-red);
    transform: scale(1.1);
}

.editProfile {
    width: 100%;
    display: block;
    padding-left: 4em;
    padding-right: 3em;
    text-align: center;
}

.editInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--main-red);
    border-top: 0px;
    border-radius: 15px;
    font-weight: bold;
    outline: 0;
    margin-top: 40px;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #ffffff;
    box-shadow: 0px 12px 10px -5px #ff0000a3;
}

.smallInputs {
    display: flex;
    align-items: center;
}

.inputBox {
    display: grid;
    width: 95%;
}

.smallInputs input {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

.profileInputError {
    color: var(--main-red);
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
}

.genreError {
    padding-left: 20px;
}

.Email {
    width: 100% !important;
}

.myLable {
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 5px;
}

.pickFavoriteGenres, .favoriteGenres {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    align-items: center;
}

.favoriteGenres {
    justify-content: center;
}

.pickFavoriteGenres h4, .favoriteGenres h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: var(--main-red-hover);
    color: #ffffff;
    transition: all 0.5s ease;
}

.pickFavoriteGenres h4:hover, .pickFavoriteGenres .activeGenre {
    background-color: var(--bg);
}

.ticket {
    pointer-events: none;
    margin-right: 5px;
    padding-bottom: 2px;
}

#avatarFile {
    display: none;
}

.avatarUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background: var(--main-red-hover);
    color: #ffffff;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: var(--main-red-hover);
    color: #ffffff;
    transition: all 0.5s ease;
}

.avatarUpload:hover {
    background-color: var(--bg);
}

.uploadIcon {
    margin-right: 5px;
    padding-bottom: 3px;
}

.avatarPreview {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border: 5px solid var(--main-red-hover);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.editProfile button {
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.5s ease;
}

.editProfile button:hover {
    transform: scale(0.9);
}

.userBtnIcon {
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .profileInfoSmall h4 {
        letter-spacing: 0;
    }
    .profileInfoR {
        margin-left: 10px;
    }
    .avatar {
        height: 300px;
        margin-left: 20px;
    }
    .editProfile {
        padding-left: 1em;
        padding-right: 2em;
    }
    .editInput {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .ProfileInfoSection {
        display: block;
    }
    .profileInfoL, .profileInfoR {
        width: 100%;
    }
    .profileInfoR {
        margin-left: 0;
        margin-top: 25px;
    }
    .avatar {
        height: 500px;
        width: 70%;
        margin-left: 75px;
    }
}

@media screen and (max-width: 425px) {
    .avatar {
        margin-left: 20px;
        width: 90%;
    }
    .smallInputs {
        display: block;
    }
    .smallBar h2 {
        font-size: 15px;
    }
}