.HeroVillianSection {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 10em;
}

.HeroVillianSection>div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    filter: drop-shadow(0px 0px 30px #ffffff91);
}

.HeroVillianSection .slick-list {
    padding: 0 !important;
    height: 600px;
    overflow: visible;
    overflow-x: clip;
}

.HeroVillianSection .slick-slide {
    transition: width 2s ease;
}

.HeroVillianSection .slick-slide>div {
    margin: 0 auto;
}

.HeroVillianSection .slick-current {
    width: 1200px !important;
}

.CharacterSection {
    position: relative;
    display: flex;
    width: 1200px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.CharacterSection::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.HeroVillianSection .leftCol {
    position: relative;
    width: 60%;
}

.CharacterSection p {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 2px;
}

.HeroVillianSection .rightCol {
    position: relative;
    width: 40%;
}

.MovieTitlePic {
    position: absolute;
    top: 0;
    left: 50px;
    max-width: 100%;
    width: 400px;
    height: auto;
}

.HeroVillianCharachter {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    filter: drop-shadow(5px 0px 10px #ffffff91);
    transition: opacity 5s ease;
}

.HeroVillianSection .slick-current .HeroVillianCharachter {
    opacity: 1;
}

#Thanos::before {
    backdrop-filter: brightness(40%) blur(5px);
}

#Thanos .MovieTitlePic {
    top: 20px;
}

#Thanos .HeroVillianCharachter {
    width: 600px;
    right: 10px;
}

#Thanos p {
    left: 80px;
    top: 210px;
    padding-right: 7em;
}

#IronMan::before {
    backdrop-filter: brightness(50%) blur(2px);
}

#IronMan .MovieTitlePic {
    top: 50px;
    left: 70px;
}

#IronMan .HeroVillianCharachter {
    width: 500px;
    right: 120px;
}

#IronMan p {
    left: 80px;
    top: 180px;
    padding-right: 5em;
}

#Joker::before {
    backdrop-filter: brightness(30%) blur(5px);
}

#Joker .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 300px;
}

#Joker .HeroVillianCharachter {
    width: 690px;
    right: 5px;
}

#Joker p {
    left: 80px;
    top: 200px;
    padding-right: 7em;
}

#Batman::before {
    backdrop-filter: brightness(70%) blur(3px);
}

#Batman .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 350px;
}

#Batman .HeroVillianCharachter {
    width: 520px;
    right: 0;
}

#Batman p {
    left: 80px;
    top: 200px;
    padding-right: 2em;
}

#Venom::before {
    backdrop-filter: brightness(40%) blur(5px);
}

#Venom .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 350px;
}

#Venom .HeroVillianCharachter {
    width: 550px;
    right: 0;
    bottom: 20px;
}

#Venom p {
    left: 80px;
    top: 200px;
    padding-right: 2em;
}

#SpiderMan::before {
    backdrop-filter: brightness(30%) blur(5px);
}

#SpiderMan .MovieTitlePic {
    width: 600px;
    top: 70px;
    left: 70px;
}

#SpiderMan p {
    left: 80px;
    top: 150px;
    padding-right: 7em;
}

#SpiderMan .HeroVillianCharachter {
    width: 550px;
    bottom: 40px;
}

#Homelender::before {
    backdrop-filter: brightness(30%) blur(5px);
}

#Homelender .MovieTitlePic {
    width: 350px;
    top: 20px;
    left: 70px;
}

#Homelender p {
    left: 80px;
    top: 180px;
    padding-right: 7em;
}

#Homelender .HeroVillianCharachter {
    width: 900px;
    right: -17em;
}

#Darkside::before {
    backdrop-filter: brightness(35%) blur(3px);
}

#Darkside .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 350px;
}

#Darkside .HeroVillianCharachter {
    width: 550px;
    right: 0;
}

#Darkside p {
    left: 80px;
    top: 200px;
    padding-right: 5em;
}