.HeroVillianSection {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 10em;
}

.HeroVillianSection>div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    filter: drop-shadow(0px 0px 10px #ffffffbe);
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 78px;
    display: flex !important;
    justify-content: flex-start;
}

.slick-dots li button {
    cursor: none;
    width: 100%;
}

.slick-dots li button::before {
    cursor: none;
    font-size: 0;
    opacity: 0.5;
}

.slick-dots li {
    cursor: none;
    list-style: none;
    background-color: #ffffff;
    border-top: 4px solid var(--main-red-hover);
    border-bottom: 4px solid var(--main-red-hover);
    margin: 0;
    width: 50px;
    height: 25px;
    transition: background-color 0.5s ease;
}

.slick-dots li:nth-child(1) {
    border-left: 4px solid var(--main-red-hover);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.slick-dots li:nth-last-child(1) {
    border-right: 4px solid var(--main-red-hover);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.slick-dots li.slick-active {
    background-color: var(--main-red-hover);
    transition: background-color 0.5s ease;
}

.slick-dots li.slick-active button::before {
    cursor: none;
    opacity: 1;
}

.HeroVillianSection .slick-list {
    padding: 0 !important;
    height: 600px;
    overflow: visible;
    overflow-x: clip;
}

.HeroVillianSection .slick-slide {
    transition: width 2s ease;
}

.HeroVillianSection .slick-slide>div {
    margin: 0 auto;
}

.CharacterSection {
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: backgroundScale 50s infinite;
}

@keyframes backgroundScale {
	0% {
		background-size:100%;
	}
	50% {
		background-size:250%;
	}
	100% {
		background-size:100%;
	}
}

.CharacterSection::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.HeroVillianSection .leftCol {
    position: relative;
    width: 60%;
}

.CharacterSection p {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 2px;
    transition: opacity 5s ease;
}

.HeroVillianSection .slick-current .CharacterSection p {
    opacity: 1;
}

.HeroVillianSection .rightCol {
    position: relative;
    width: 40%;
}

.MovieTitlePic {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50px;
    max-width: 100%;
    width: 400px;
    height: auto;
    transition: opacity 5s ease;
}

.HeroVillianSection .slick-current .MovieTitlePic {
    opacity: 1;
}

.HeroVillianCharachter {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    filter: drop-shadow(5px 0px 10px #ffffff91);
    transition: all 3s ease;
}

.HeroVillianSection .slick-current .HeroVillianCharachter {
    opacity: 1;
}

#Thanos::before {
    backdrop-filter: brightness(40%) blur(5px);
}

#Thanos .MovieTitlePic {
    top: 20px;
}

#Thanos .HeroVillianCharachter {
    width: 600px;
    right: 10px;
}

#Thanos p {
    left: 80px;
    top: 210px;
    padding-right: 7em;
}

#IronMan::before {
    backdrop-filter: brightness(50%) blur(2px);
}

#IronMan .MovieTitlePic {
    top: 50px;
    left: 70px;
}

#IronMan .HeroVillianCharachter {
    width: 500px;
    right: 120px;
}

#IronMan p {
    left: 80px;
    top: 180px;
    padding-right: 5em;
}

#Joker::before {
    backdrop-filter: brightness(30%) blur(5px);
}

#Joker .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 300px;
}

#Joker .HeroVillianCharachter {
    width: 690px;
    right: 5px;
}

#Joker p {
    left: 80px;
    top: 200px;
    padding-right: 7em;
}

#Batman::before {
    backdrop-filter: brightness(70%) blur(3px);
}

#Batman .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 350px;
}

#Batman .HeroVillianCharachter {
    width: 520px;
    right: 0;
}

#Batman p {
    left: 80px;
    top: 200px;
    padding-right: 2em;
}

#Venom::before {
    backdrop-filter: brightness(40%) blur(5px);
}

#Venom .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 350px;
}

#Venom .HeroVillianCharachter {
    width: 550px;
    right: 0;
    bottom: 20px;
}

#Venom p {
    left: 80px;
    top: 200px;
    padding-right: 2em;
}

#SpiderMan::before {
    backdrop-filter: brightness(30%) blur(5px);
}

#SpiderMan .MovieTitlePic {
    width: 500px;
    top: 70px;
    left: 80px;
}

#SpiderMan p {
    left: 80px;
    top: 120px;
    padding-right: 3em;
}

#SpiderMan .HeroVillianCharachter {
    width: 550px;
    bottom: 40px;
}

#Homelender::before {
    backdrop-filter: brightness(30%) blur(5px);
}

#Homelender .MovieTitlePic {
    width: 400px;
    top: -10px;
    left: 50px;
}

#Homelender p {
    left: 80px;
    top: 180px;
    padding-right: 7em;
}

#Homelender .HeroVillianCharachter {
    width: 900px;
    right: -17em;
}

#Darkside::before {
    backdrop-filter: brightness(35%) blur(3px);
}

#Darkside .MovieTitlePic {
    top: 20px;
    left: 70px;
    width: 350px;
}

#Darkside .HeroVillianCharachter {
    width: 550px;
    right: 0;
}

#Darkside p {
    left: 80px;
    top: 200px;
    padding-right: 5em;
}

@media screen and (min-width: 1300px) {
    .CharacterSection {
        width: 1200px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
    .CharacterSection {
        width: 900px;
        animation: none;
    }
    .HeroVillianCharachter {
        width: 400px !important;
        right: 0 !important;
    }
    .MovieTitlePic {
        width: 300px !important;
    }
    .CharacterSection p {
        font-size: 12px !important;
        padding-right: 1em !important;
    }
    .HeroVillianSection>div {
        width: 80%;
    }
}


@media screen and (max-width: 800px) {
    .CharacterSection {
        width: 800px;
        animation: none;
    }
    .HeroVillianCharachter {
        width: 300px !important;
        right: 0 !important;
    }
    .MovieTitlePic {
        width: 200px !important;
    }
    .CharacterSection p {
        font-size: 12px !important;
        padding-right: 1em !important;
    }
    .HeroVillianSection>div {
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .HeroVillianSection .leftCol, .HeroVillianSection .rightCol {
        width: 100%;
    }
    .CharacterSection {
        display: block;
        height: 1010px;
    }
    .HeroVillianCharachter {
        position: relative;
        top: 28em !important;
        left: 10em !important;
    }
    .MovieTitlePic {
        left: 220px !important;
    }
    .HeroVillianSection .slick-list {
        height: 1010px;
    }
    .CharacterSection p {
        font-size: 12px !important;
        padding-right: 20em !important;
        padding-left: 30px;
        text-align: center !important;
    }
    #Thanos .HeroVillianCharachter {
        width: 450px !important;
        top: 26.5em !important;
    }

    #Joker .HeroVillianCharachter {
        width: 530px !important;
        top: 32em !important;
    }

    #Batman .HeroVillianCharachter {
        top: 30em !important;
        left: 15em !important;
    }

    #Venom .HeroVillianCharachter, #SpiderMan .HeroVillianCharachter, #Darkside .HeroVillianCharachter  {
        top: 32em !important;
    }

    #Homelender .HeroVillianCharachter {
        width: 700px !important;
        top: 32em !important;
        left: 1em !important;
    }
}

@media screen and (max-width: 425px) {
    .HeroVillianSection .leftCol, .HeroVillianSection .rightCol {
        width: 100%;
    }
    .CharacterSection {
        display: block;
        height: 1010px;
    }
    .MovieTitlePic {
        width: 300px !important;
        left: 50px !important;
    }
    .CharacterSection p {
        font-size: 12px !important;
        padding-right: 35em !important;
        margin-left: -80px;
    }
    #Thanos .HeroVillianCharachter {
        width: 350px !important;
        top: 35em !important;
        left: 0 !important;
    }

    #IronMan .HeroVillianCharachter {
        width: 300px !important;
        top: 37em !important;
        left: 0 !important;
    }

    #Joker .HeroVillianCharachter {
        width: 400px !important;
        top: 39.5em !important;
        left: 0 !important;
    }

    #Batman .HeroVillianCharachter {
        width: 290px !important;
        top: 39.5em !important;
        left: 5em !important;
    }

    #Venom .HeroVillianCharachter {
        width: 290px !important;
        top: 41em !important;
        left: 2em !important;
    }

    #SpiderMan .HeroVillianCharachter {
        width: 300px !important;
        top: 41em !important;
        left: 6em !important;
    }

    #Homelender .HeroVillianCharachter {
        width: 500px !important;
        top: 41em !important;
        left: 0em !important;
    }

    #Darkside .HeroVillianCharachter {
        width: 290px !important;
        top: 41em !important;
        left: 3em !important;
    }
}