.split-section {
    position: relative;
    overflow: hidden;
    pointer-events: all;
    height: 700px;
    border-top: 40px solid transparent;
    border-image: url(../../assets/images/TrailerSection/CurtainTop.png) 20 stretch;
    border-image-slice: 30; 
    border-image-repeat: round;
}
  
.split-section::before,
.split-section::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 130%;
    background-image: url(../../assets/images/TrailerSection/CinemaCurtains2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.7s ease-in-out;
    z-index: 5;
}
  
.split-section::before {
    left: 0;
    transform: translateX(0);
}
  
.split-section::after {
    right: 0;
    transform: translateX(0);
}
  
.split-section.active::before {
    transform: translateX(-90%) translateY(-20%) rotate(15deg);
}
  
.split-section.active::after {
    transform: translateX(90%) translateY(-20%) rotate(-15deg);
}
  
.split-section__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-section__inner::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/TrailerSection/CinemaElements1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(30%);
    z-index: -1;
}

.split-section__content.active {
    opacity: 1;
}
  
.split-section__content {
    height: 90%;
    width: 70%;
    opacity: 0;
    transition: opacity 4s ease;
    color: #ffffff;
}

.trailer {
    position: relative;
    top: -2%;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3),
              0px 0px 50px rgba(255, 255, 255, 0.1);
    border: 5px solid #ffffff;
    border-radius: 5px;
}

.noTrailerYet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3),
              0px 0px 50px rgba(255, 255, 255, 0.1);
    border: 5px solid #ffffff;
    border-radius: 5px;
}

.noTrailerYet::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/TrailerSection/NoTrailer.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(20%);
    z-index: -1;
}

.noTrailerYet h2 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}