.MapAndAboutUs {
    margin: 0 auto;
    /* margin-top: 150px; */
    position: relative;
    width: 100%;
    height: auto;
}

.MapAndAboutUs::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/bg9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(15%);
    z-index: -1;
}