.movieInfoSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: -120px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -100px;
    padding: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.movieInfoSection::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgba(52.5, 10.5, 10.5, 0.9) calc((50vw - 170px) - 340px), rgba(52.5, 10.5, 10.5, 0.9) 30%, rgba(52.5, 10.5, 10.5, 0.9) 100%);
    filter: brightness(50%);
    z-index: -1;
}

.infoCol1 {
    float: left;
    width: 25%;
    padding: 10px;
    margin-top: 100px;
}

.infoCol1 div {
    pointer-events: all;
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    transition: all 0.8s ease;
    overflow: hidden;
    box-shadow: none !important;
    transform: scale(1.05);
    filter: drop-shadow(-15px 15px 10px #7e7e7e4d);
    border: 5px solid #ffffff;
    border-radius: 10px;
}

.infoCol1 div:hover {
    filter: drop-shadow(0px 0px 20px #ffffff4b);
}

#moviePoster {
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    filter: saturate(1.15);
}

.infoCol1 div:hover #moviePoster {
    transform: scale(1.2);
    filter: contrast(115%);
}

.infoCol2 {
    float: left;
    width: 60%;
    padding: 10px;
    margin-top: 80px;
}

.titleGenre {
    color: #ffffff;
    letter-spacing: 0.2em;
}

.titleGenre h1 {
    font-size: 50px;
    filter: drop-shadow(0 0 0.2rem #ffffff5c);
}

.titleGenre p {
    font-size: 17px;
    letter-spacing: 0.1em;
}

.moviePageIcons {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}

.iconBoxes {
    display: flex;
}

.iconBox {
    padding-right: 20px;
    position: relative;
}

.moviePageIcon {
    position: relative;
    color: var(--main-red);
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--main-red);
    border-radius: 50%;
    transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.moviePageIcon:hover, .activeIcon {
    color: #ffffff;
    background-color: var(--main-red-hover);
    border: 8px solid #ffffff;
    font-size: 15px;
}

.moviePageShareIcons {
    width: 120px;
    position: absolute;
    opacity: 0;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 55px;
    right: 0px;
    left: -30px;
    transition: opacity 0.5s ease;
}

#shareBtn:hover+.moviePageShareIcons {
    opacity: 1;
}

.moviePageShareIcons:hover {
    opacity: 1;
}

.moviePageShareIcon {
    width: 2em;
    height: 2em;
    padding: 0.4em 0.5em;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.moviePageShareIcon:hover {
    color: var(--main-red);
}

.moviePageShareIcons:hover #shareBtn {
    color: #ffffff;
    background-color: var(--main-red-hover);
    border: 8px solid #ffffff;
    font-size: 15px;
}

.ratingBox {
    display: flex;
    align-items: center;
}

.ratingBox h3 {
    padding-right: 20px;
}

.ratingBox span {
    font-size: 20px;
}

.rating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    color: var(--main-red);
    width: 6rem;
    height: 6rem;
    font-size: 25px;
    line-height: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.rating::before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    border-radius: inherit;
    box-shadow: 0 0 0 1rem var(--bg);
    z-index: -1;
}

.rating::after {
    content: "";
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    background: #ffffff;
    border-radius: inherit;
    z-index: 1;
}

.rating span {
    position: relative;
    display: flex;
    font-weight: bold;
    z-index: 2;
}

.rating span small {
    font-size: 15px;
    font-weight: 900;
}

.ratingPopUp {
    display: block;
    margin-top: -30px;
    height: 480px;
    width: 700px;
}

.ratingPopUp::before {
    background-image: url(../../assets/images/BackgroundImages/PopCorn.png);
    filter: brightness(12%);
}

.ratingPopUp h2 {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 70px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.ratingPopUpBox, .ratingPopUpBoxBtn {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ratingAtribute {
    display: grid;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.ratingAtribute h5 {
    color: #ffffff;
    text-align: center;
    font-size: 17px;
}

.ratingStars {
    color: var(--main-red);
    font-size: 30px;
    margin-top: 10px;
    display: flex !important;
    justify-content: center;
}

.ratingError {
    text-align: center;
    color: red;
    font-size: 14px;
}

.btn3 {
    text-align: center;
    padding: 10px;
    font-size: 13px;
}

@media screen and (max-width: 1300px) {
    .titleGenre h1 {
        font-size: 30px;
    }
    .titleGenre h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1140px) {
    .movieInfoSection {
        height: auto;
    }
    .infoCol1 {
        width: 35%;
    }
    .titleGenre p {
        font-size: 15px;
    }
    .ratingPopUp {
        height: 470px;
        width: 600px;
    }
}

@media screen and (max-width: 850px) {
    .movieInfoSection {
        display: grid;
    }
    .infoCol1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .infoCol2 {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .titleGenre h1 {
        font-size: 40px;
    }
    .moviePageIcons {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .ratingPopUpBox {
        display: block;
    }
    .ratingPopUpBoxBtn {
        display: flex;
    }
    .ratingPopUp {
        width: 400px;
        height: 670px;
        right: -19em;
    }
}

@media screen and (max-width: 500px) {
    .moviePageIcons {
        display: block;
    }
    .ratingBox {
        justify-content: center;
    }
    .iconBoxes {
        padding-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    .ratingPopUp h2 {
        font-size: 20px;
        padding: 10px;
        padding-top: 75px;
        padding-bottom: 35px;
    }
    .ratingPopUp {
        width: 300px;
        height: 880px;
        right: -17.5em;
    }
}

@media screen and (max-width: 325px) {
    .ratingPopUp {
        width: 270px;
        height: 750px;
        right: -15em;
    }
}
