.ProfilePaginationList {
    margin: 50px auto;
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.listItem {
    position: relative;
    border: 5px solid var(--main-red);
    border-radius: 25px;
    transition: transform 0.5s, border 0.5s;
    width: 400px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
}

.listItemInfo {
    position: absolute;
    display: flex;
    width: 90%;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    bottom: 0;
    padding: 6px;
}

.listItemInfo::before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    filter: blur(5px);
    border-radius: inherit;
    z-index: 1;
}

.listItem img {
    height: auto;
    max-width: 100%;
}

.listItemName {
    width: 70%;
}

.listItemRating {
    width: 30%;
}