@keyframes anim-out-text{0%{transform:translateZ(0)}to{transform:translate3d(-100%,0,0)}}
@keyframes anim-out-layer{0%{transform:translateZ(0)}to{transform:translate3d(100%,0,0)}}
@keyframes anim-in-layer{0%{transform:translate3d(-100%,0,0)}to{transform:translateZ(0)}}
@keyframes anim-in-text{0%{transform:translate3d(100%,0,0)}to{transform:translateZ(0)}}

nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    height: 100px;
    background: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(0.625em);
    z-index: 50;
    transition: top 0.8s;
}

.hide {
    top: -100px;
    transition: top 0.8s;
}

#mainLogo {
    max-width: 100%;
    width: 200px;
    padding-top: 10px;
    height: auto;
    position: relative;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
}

#navbar li a, #dropdownMenu2 li a:hover {
    transition: all 0.3s ease 0s;
} 


#navbar li a:hover, #navbar li a:active, #dropdownMenu2 li a:hover {
    color: var(--main-red);
    filter: drop-shadow(0 0 0.2rem #e50914);
    transform: scale(1.2);
}

#navbar>li, a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navItem {
    position: relative;
    overflow: hidden;
    transition: color .3s ease-in-out;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.navItem span {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    display: block;
    transform: translate3d(-100%,0,0);
    animation: anim-out-layer .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.navItem:hover span {
    animation: anim-in-layer .3s ease forwards;
}
  
.navItem span::before {
    content: attr(data-text);
    width: 100%;
    display: block;
    transform: translate3d(100%,0,0);
    color: var(--main-red);
    animation: anim-out-text .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.navItem:hover span::before {
    animation: anim-in-text .3s ease forwards;
}

#dropdownMenu {
    display: none;
    position: absolute;
    background-color: var(--main-red);
    top: 69px;
    width: 200px;
    height: 230px;
    z-index: 999;
    pointer-events: all;
}

#dropdownMenu2 {
    display: none;
    position: absolute;
    background-color: var(--main-red);
    top: 75px;
    width: 110px;
    height: 125px;
    z-index: 999;
    pointer-events: all;
}

#dropdownMenu2 li {
    list-style: none;
}

#dropdownIcon {
    padding-left: 5px;
}

#dropdownMenu>ul>li {
    padding: 25px 25px 20px 30px;
}

#dropdownMenu2>ul>li {
    padding: 12px 10px 20px 15px;
}

#dropdownMenu2>ul>li>a {
    font-size: 16px !important;
}

#dropdownMenu>ul>li:hover, #dropdownMenu2>ul>li:hover {
    background-color: var(--bg);
}

#dropdownMenu>ul>li>a {
    font-size: 17px !important;
}

.pages {
    position: relative;
    top: 16px;
    height: 70px;
    pointer-events: all;
}

.pages:hover>#dropdownMenu{
    display: block;
}

#dropdownMenu:hover {
    display: block;
}

#searchAndUser {
    width: 30%;
    height: 100%;
    position: relative;
    top: 5px;
}

#searchAndUserBox {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    filter: drop-shadow(0 0 1rem #e5091467);
}


#searchMovie {
    width: 100%;
    border: 3px solid var(--main-red);
    font-size: 20px;
    border-right: none;
    padding: 0 15px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    color: #ffffff;
    background-color: transparent;
    filter: drop-shadow(0 0 0.2rem var(--main-red));
}

#searchMovie::placeholder {
    color: #ffffff;
}

#search-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 3px solid var(--main-red);
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    padding-top: 5px;
    padding-right: 20px;
    filter: drop-shadow(0 0 0.2rem var(--main-red));
}

#searchIcon {
    color: var(--main-red);
}

.userMainBox {
    pointer-events: all;
    height: 130%;
    width: 100%;
    z-index: 5;
}

.userBox {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 50%;
}

.userMainBox:hover #dropdownMenu2 {
    display: block;
}

#dropdownMenu2:hover {
    display: block;
}

.user {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#mainLogo:hover {
    transition: all 0.3s ease 0.1s;
    transform: scale(1.1);
}

.bars, .close {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 0.2rem var(--main-red));
    color: var(--main-red);
}

#mobile {
    display: none;
}

@media screen and (max-width: 1350px) and (min-width: 1000px) { 
    #navbar>li, a {
        font-size: 16px;
    }
    .pages {
        top: 20px;
    }
}


@media screen and (max-width: 1000px) {
    nav {
        position: relative;
    }

    #mobile {
        display: block;
    }

    #mainLogo {
        width: 300px;
        padding-right: 20px;
    }

    #navbar, #searchAndUser {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 200px;
        right: 0px;
        width: 400px;
        height: 800px;
        background: none;
        backdrop-filter: none;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar {
        z-index: 3;
    }

    #searchAndUser {
        position: absolute;
        top: 100px;
        padding-left: 20px;
        background: rgba(20, 20, 20, 0.9) !important;
        backdrop-filter: blur(20px);
    }

    #searchAndUserBox {
        width: 80%;
    }

    #navbar.activeMenu, #searchAndUser.activeMenu {
        display: flex;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #dropdownMenu {
        height: 300px;
    }
}