.profileCommentSection {
    width: 100%;
    padding: 50px;
}

.profileComment {
    width: 100%;
    margin-bottom: 25px;
    height: auto;
    display: flex;
    justify-content: center;
}

.profileCommentAvatar {
    width: 15%;
    height: 100px;
    border: 3px solid var(--main-red-hover);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileCommentBody {
    width: 70%;
    margin-left: 20px;
    background: var(--bg);
    border: 3px solid var(--main-red-hover);
    border-radius: 10px;
    position: relative;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.profileCommentBody::before {
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 20px;
    left: -35px;
    border-width: 17px;
    border-color: transparent var(--main-red-hover) transparent transparent;
    border-style: solid;
}

.profileCommentBody h1 {
    position: relative;
    overflow: hidden;
    width: 50%;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    padding-left: 20px;
    letter-spacing: 1px;
    filter: drop-shadow(0 0 0.2rem #ffffff5c);
}

.profileCommentBody h1::before {
    position: absolute;
    content: "";
    background: var(--main-red);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0.25em;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.profileCommentBody h1::after {
    position: absolute;
    content: "";
    background: transparent linear-gradient( 270deg, rgba(11, 1, 2, 0) 0%, rgba(255, 55, 65, 0.3) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.profileCommentIcons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

.profileCommentIcon {
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: var(--main-red-hover);
    padding: 7px;
    margin-right: 7px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.profileCommentIcon:hover {
    background-color: #ffffff;
    border-color: var(--main-red-hover);
    color: var(--main-red-hover);
    transform: scale(0.9);
}

.noCommentsYetProfile {
    padding: 50px;
}

.noCommentsYetProfile h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}