.footer {
    height: 400px;
    position: relative;
    z-index: 5;
    bottom: 0;
    margin-bottom: 0;
}

.footer::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/BackgroundImages/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(40%);
    z-index: -1;
}

.top {
    position: absolute;
    display: flex;
    padding-top: 50px;
    padding-left: 4%;
    padding-right: 7%;
    width: 100%;
    padding-bottom: 5%;
}

.top div {
    flex: 50%;
}

.footerNav {
    display: flex;
    list-style: none;
    padding-left: 20px;
}

.footerNav li a {
    padding: 0 20px;
    font-size: 17px;
    transition: color 0.5s;
}

.footerNav li a:hover {
    color: var(--main-red);
}

.contact {
    padding-top: 60px;
    display: inline-grid;
    justify-content: end;
}

.contact h4 {
    padding-left: 0.9rem;
    font-size: 30px;
    color: #ffffff;
}

.contact a {
    font-size: 14px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    display: block;
    text-transform: lowercase;
    padding: 0.7rem;
    padding-left: 0.9rem;
}

.contact a:hover {
    color: #ffffff;
}

.mail>a::before {
    position: absolute;
    content: "";
    background: var(--main-red);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0.5em;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease-in-out;
}

.mail:hover>a::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.mail>a::after {
    position: absolute;
    content: "";
    background: transparent linear-gradient( 270deg, rgba(11, 1, 2, 0) 0%, rgba(255, 55, 65, 0.3) 100%);
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease-in-out;
}

.mail:hover>a::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.envelope {
    padding-top: 5px;
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

#footerLogo {
    max-width: 100%;
    width: 300px;
    height: auto;
    position: relative;
    margin-left: 35px;
}

#footerLogo:hover {
    transition: all 0.3s ease 0.1s;
    transform: scale(1.1);
}

.top>div>p {
    padding-left: 35px;
    padding-top: 30px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.top>div>p>a {
    font-size: 17px;
    padding: 0 5px;
    text-transform: uppercase;
    transition: color 0.5s;
}

.top>div>p>a:hover {
    color: var(--main-red);
}

.moveToTopBtn {
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px;
    font-size: 30px;
    z-index: 900;
    border: 3px solid #ffffff;
    border-radius: 3px;
    background-color: var(--main-red);
    color: #ffffff;
    transition: background-color 0.8s ease, opacity 0.8s ease;
    overflow: hidden;
}

.show {
    opacity: 1;
}

.moveToTopBtn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg);
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.moveToTopBtn:hover:before {
    transform: scale(1);
}
  
.moveToTopBtn svg {
    display: block;
    position: relative;
    z-index: 1;
    transform: translateY(0);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
  
.moveToTopBtn:hover svg {
    transform: translateY(-20%);
}

@media screen and (max-width: 800px) and (min-width: 700px) {
    #footerLogo {
        width: 300px;
    }

    .footerNav, .footerNav li a, .top>div>p {
        padding-left: 0;
    }

 }

 @media screen and (max-width: 700px) {
    .top {
        display: block;
    }

    .footer {
        height: 600px;
    }
 }

 @media screen and (max-width: 550px) {
    .footerNav, .contact {
        display: block;
    }
    .footer {
        height: 800px;
    }
    .top>div>p>a {
        padding: 0;
    }
    .top div {
        text-align: center;
    }
 } 