* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  pointer-events: none;
}

a, button, input, svg, img, li, h1, h2, h3, h4, h5, h6, p, small {
  pointer-events: all;
}

:root {
  --main-red: #e50914;
  --main-red-hover: #89040a;
  --bg: #141414;
  --color: #FFDB58;
  --color2: #000 !important;
}

::-webkit-scrollbar {
  display: block;
  width: 7px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
    
::-webkit-scrollbar-thumb {
  background-color: var(--main-red);
  border-radius: 20px;
  border-right: none;
  border-left: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-red-hover);
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 5px; 
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 5px;
}

::selection {
  background: var(--main-red);
  color: var(--bg);
}

.btn {
  color: #ffffff;
  width: 120px;
  background-color: var(--main-red);
  border: 3px solid var(--main-red);
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  transition: .5s;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 0px;
  z-index: 1;
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--bg);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: var(--bg);
 }
 
 .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
 }

 .btnIcon {
    position: relative;
    right: 2px;
    width: 10px;
    height: 10px;
 }


 @media screen and (max-width: 1260px) and (min-width: 480px) { 
    .btn {
      padding: 8px;
      font-size: 10px;
    }
 }


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: var(--iq-body-text);
  background-color: var(--bg);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:url("./assets/images/bg5.jpg");
  filter: brightness(0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


