.magicSection {
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: auto;
    color: #ffffff;
    padding: 20px 50px 0 50px;
    margin-top: 50px;
}

.magicSection::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/FanPagePictures/Hogwarts.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(20%);
    z-index: -1;
}

.magicSection h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    filter: drop-shadow(0 0 0.2rem #ffffff46);
}

.magicSection p {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
    filter: drop-shadow(0 0 0.2rem #ffffff23);
}

.magic {
    position: relative;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding: 0 20px;
}

.magicCard {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 30px;
    padding-bottom: 0;
    pointer-events: all;
}

.wrapper {
    transition: all 0.6s ease;
    position: absolute;
    width: 80%;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.magicCard:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(50deg) translateZ(0);
}

.magicCharachter, .magicCharachterGeralt {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.6s ease;
    transform: translate3d(-10%, 0%, 0px);
    filter: drop-shadow(5px 0px 30px #ffffff91);
}

.magicCharachterGeralt {
    filter: drop-shadow(5px 0px 30px #ffffff91);
    width: 70%;
    transform: translate3d(10%, 0%, 0px);
}

.magicCard:hover .magicCharachter {
    opacity: 1;
    transform: translate3d(-10%, -16%, 200px);
}

.magicCard:hover .magicCharachterGeralt {
    opacity: 1;
    transform: translate3d(10%, -25%, 200px);
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
    .magic {
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    .magic {
        display: block;
        height: 1000px;
        margin: 0 auto;
    }
    .magicCard {
        width: 100%;
        height: 30%;
    }
    .wrapper {
        height: 100%;
        padding: 10px;
        transform: none !important;
    }
    .wrapper img {
        object-fit: contain;
    }
    .magicCharachter, .magicCharachterGeralt {
        opacity: 0 !important;
    }
}

@media screen and (max-width: 500px) {
    .magicSection {
        width: 100%;
    }
    .magicSection h1 {
        font-size: 25px;
    }
    .magicSection p {
        font-size: 17px;
    }
}