.paginationListNav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 65px;
}

.paginationListNav h2 {
    pointer-events: all;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-left: 20px;
    margin-right: 10px;
    filter: drop-shadow(0 0 0.2rem #ffffff5c);
    z-index: -1;
    transition: all 0.5s ease;
}

.paginationListNav h2:hover {
    transform: scale(1.2);
}

.genresNavList {
    pointer-events: all;
    position: absolute;
    list-style: none;
    display: none;
    height: 300px;
    background-color: var(--bg);
    border: 5px solid var(--main-red-hover);
    border-radius: 10px;
    overflow-y: scroll;
    z-index: 20;
}

.genresNavTitle {
    position: relative;
}

.genresNav:hover .genresNavList {
    display: block;
}

.genresNavList li {
    padding: 15px;
    color: #ffffff;
    background-color: var(--bg);
    transition: all 0.5s ease;
}

.genresNavList li:hover {
    background-color: var(--main-red-hover);
}