.SciFiSection {
    position: relative;
    width: 100%;
    margin-top: 50px;
    height: 800px;
}

.SciFiGIF {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.SciFiGIF h1 { 
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    filter: drop-shadow(0 0 0.2rem #ffffff46);
}

.SciFiGIF::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/FanPagePictures/SciFiPics/Astronaut.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%) blur(3px) contrast(110%);
    z-index: -1;
}
