.mainImage {
    position: relative;
    text-align: center;
    z-index: -1;
    top: -120px;
    height: 120vh;
    margin-bottom: -100px;
}

.mainImage img {
    filter: brightness(0.35);
    height: 100%;
}

.centeredHeadline h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    filter: drop-shadow(0 0 0.2rem #ffffffbd);
    animation: entrance 1s ease-in-out;
}

@keyframes entrance {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
}


@keyframes entrance2 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0);
  }
}

@media screen and (max-width: 500px) {
    .mainImage {
        height: 65vh;
    }
}

@media screen and (max-width: 1200px) and (min-width: 710px) { 
    .centeredHeadline h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 710px) {
    .centeredHeadline h1 {
        font-size: 25px;
    }
}