.paginationList {
    margin: 50px auto;
    width: 100%;
    padding-left: 70px;
    display: flex;
    flex-wrap: wrap;
}

.pagination {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination .page-link {
    padding: 8px 15px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: var(--main-red);
    color: #ffffff;
    font-size: 25px;
    transition: background-color 0.5s ease;
}

.pagination .page-link:hover, .pagination .page-item.active .page-link{
    background-color: var(--bg);
}

.paginationArrows {
    padding-top: 5px;
}

.paginationMovieBlock {
    position: relative;
    border: 5px solid #ffffff;
    border-radius: 3px;
    transition: transform 0.5s, border 0.5s;
    width: 250px;
    height: 350px;
    margin: 15px;
}

.paginationMovieBlock:hover {
    transform: scale(1.05);
    border: 5px solid var(--main-red);
    box-shadow: none;
}

.paginationMovieBlock:hover .paginationMovieBlockSocialInfo, .paginationMovieBlock:hover .paginationMovieBlockDescription {
    opacity: 1;
}

.paginationMovieBlock:hover>img {
    filter: brightness(0.3);
}

.paginationMovieBlock::after {
    box-shadow: inset 10px 50px 100px 0 #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.paginationMovieBlock img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.8s;
}

.paginationMovie {
    width: 100%;
    height: 100% !important;
}

.paginationMovieBlockSocialInfo {
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 1.563em;
    z-index: 999;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.paginationMovieBlockDescription {
    position: absolute;
    left: 1.563em;
    right: 4em;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s;
}

.paginationMovieBlockDescription h6>a {
    font-size: 20px;
}

.paginationMovieBlockDescription span {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paginationMovieBlockSocialInfo ul {
    list-style: none;
    padding: 50px 0;
}

.paginationMovieBlockIcon {
    position: relative;
    height: 2.5em;
    width: 2.5em;
    line-height: 2.188em;
    text-align: center;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 50%;
    margin: 0 auto 0.438em;
    display: flex;
    align-items: center;
    color: var(--main-red);
    transition: color 0.8s, background 0.8s;
}

.paginationMovieBlockIcon span {
    position: relative;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    transition: background 0.8s;
}

.iconInside {
    font-size: 0.7em;
}

.paginationMovieBlockIcon:hover {
    color: #ffffff;
    background: #ffffff;
}

.paginationMovieBlockIcon:hover>span {
    background: var(--main-red-hover);
}

.shareBox {
    box-shadow: 0em 0.188em 0.625em rgb(0 0 0 / 75%);
    display: flex;
    position: absolute;
    width: 6.563em;
    height: 2.2em;
    top: 0.188em;
    right: 2.5em;
    left: auto;
    background-color: var(--bg);
    padding: 0em 0.625em;
    border-radius: 0em;
    text-align: center;
    z-index: 2;
    animation: side-in 0.5s forwards;
    margin-bottom: 0.625em;
    opacity: 0;
    transition: all 0.45s ease-out 0.5s;
    pointer-events: all;
}

.paginationMovieBlockIcon.share:hover .shareBox {
    opacity: 1;
}

.shareBox>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareIcons {
    font-size: 1em;
    color: #ffffff;
    pointer-events: all;
    transition: color 0.5s;
}

.shareIcons:hover {
    color: var(--main-red);
}


@media screen and (max-width: 1280px) and (min-width: 480px) {
    .paginationMovieBlockDescription {
        right: 0;
    }
    .paginationMovieBlockDescription h6>a {
        font-size: 15px;
    }
    .paginationMovieBlockDescription span {
        font-size: 15px;
        padding-top: 2px;
    }

    .paginationMovieBlockIcon {
        width: 30px;
        height: 30px;
    }
    .paginationMovieBlockIcon span {
        width: 25px;
        height: 25px;
    }

    .shareBox {
        height: 1.7em;
    }
}